.button-outlined-bg {
  display: block;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  width: auto;
  height: 71px;
}

.button-outlined-bg .button-circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  fill: none
}

.button-outlined-bg .button-circle.-layer-1 {
  stroke-dashoffset: 0
}

.button-outlined-bg .button-circle.-layer-2 {
  stroke: #17f1d1
}

[data-theme=turquoise] .button-outlined-bg .button-circle.-layer-2 {
  stroke: #a374ff
}

.button-outlined-bg .button-circle.-layer-3 {
  stroke: #ffd074
}

[data-theme=yellow] .button-outlined-bg .button-circle.-layer-3 {
  stroke: #a374ff
}

.button-outlined-bg .button-circle.-hover,
.button-outlined-bg .button-circle.-layer-1 {
  stroke: #a374ff
}

.button-outlined-bg .button-circle.-layer-4 {
  stroke: #fafaf6
}

.button-outlined {
  position: relative;
  background-color: var(--button-bg-color);
  border: max(1px,0.0625rem) solid #A374FF;
}

[data-button-svg] {
  border-style: none;
}

.button {
  position: relative;
  display: inline-flex;
  height: 70px;
  align-items: center;
  border-radius: 9999px;
  padding-left: 35.5px;
  padding-right: 35.5px;
  font-family: Matter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 18px;
  font-weight: 600;
  color: #fafaf6;
  letter-spacing: 0.6px;
}

.button-inner {
  position: relative;
}

.button-inner-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button-inner, .button-inner-hover, .button-inner-static {
  pointer-events: none;
  display: block;
}

.button-circles {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(.1deg);
}

.button-outlined-bg .button-circle.-hover, .button-outlined-bg .button-circle.-layer-1 {
  stroke: var(--button-bg-color);
}

.button-outlined-bg .button-circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  fill: none;
}

.button>* {
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    cursor: pointer
  }
  .button:hover .button-bg {
    transform: scale(.95)
  }
  .button:hover .button-inner-static {
    opacity: 0;
    transform: translateY(-70%);
    transition: transform 1.4s cubic-bezier(.19, 1, .22, 1), opacity .3s linear
  }
  .button:hover .button-inner-hover {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1.4s cubic-bezier(.19, 1, .22, 1), opacity 1.4s cubic-bezier(.19, 1, .22, 1)
  }
  .button:hover .button-circles,
  .button-round:hover .button-circles {
    transform: rotate(90deg);
    transition: transform 1.4s cubic-bezier(.4, 0, 0, 1)
  }
  .button:hover .button-circles-o,
  .button-round:hover .button-circles-o {
    opacity: 0;
    transition: opacity .1s linear;
    transition-delay: 1.2s
  }
  .button:hover .button-circle,
  .button-round:hover .button-circle {
    transition: stroke-dashoffset 1.4s cubic-bezier(.4, 0, 0, 1);
    stroke-dashoffset: 0;
    stroke-dasharray: 1
  }
  .button:hover .button-circle.-layer-2,
  .button-round:hover .button-circle.-layer-2 {
    transition-duration: 1.4s
  }
  .button:hover .button-circle.-layer-3,
  .button-round:hover .button-circle.-layer-3 {
    transition-delay: .15s;
    transition-duration: 1.25s
  }
  .button:hover .button-circle.-layer-4,
  .button-round:hover .button-circle.-layer-4 {
    transition-delay: .3s;
    transition-duration: 1.1s
  }
  .button:hover .button-circle.-hover,
  .button-round:hover .button-circle.-hover {
    transition-delay: .45s;
    transition-duration: .95s
  }
  .button:hover .button-circle.-yellow,
  .button:hover .button-circle.-turquoise,
  .button:hover .button-circle.-white,
  .button:hover .button-circle.-hover,
  .button-round:hover .button-circle.-yellow,
  .button-round:hover .button-circle.-turquoise,
  .button-round:hover .button-circle.-white,
  .button-round:hover .button-circle.-hover {
    stroke-dashoffset: 0
  }
  .button:hover .button-bg-layer,
  .button-round:hover .button-bg-layer {
    transition: transform 1.3s cubic-bezier(.19, 1, .22, 1), opacity .3s linear
  }
  .button:hover .button-bg-layer-1,
  .button-round:hover .button-bg-layer-1 {
    transform: scale(1)
  }
  .button:hover .button-bg-layer-2,
  .button-round:hover .button-bg-layer-2 {
    transition-delay: .1s;
    transform: scale(1)
  }
  .button:hover .button-bg-layer-3,
  .button-round:hover .button-bg-layer-3 {
    transition-delay: .2s;
    transform: scale(1)
  }
}

// Arrow Button Style
.btn-arrow{
  position: relative;
  height: 30px;
  width: 60px;
  background: var(--arrow-btn-bg-color);
  border-radius: 20px;
  overflow: hidden;
  .arrow-icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .gg-arrow-right{
      &::before{
        width: 22px;
      }
    }
    &:first-child{
      transform: translate(-100%, 0);
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }
    &:last-child{
      transform: translate(0, 0);
      transition: all 0.3s ease-in-out;
      opacity: 1;
      visibility: visible;
    }
  }
  &:hover{
    cursor: pointer;
    .arrow-icon{
      &:first-child{
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
      }
      &:last-child{
        opacity: 0;
        visibility: hidden;
        transform: translate(100%, 0);
      }
    }
  }
}