@font-face {
  font-family: 'Rival-Sans';
  src: url('../../fonts/FONTSPRINGDEMO-RivalSansBlackRegular.eot');
  src: local('FONTSPRING DEMO - Rival Sans Black Regular'), local('FONTSPRINGDEMO-RivalSansBlackRegular'),
  url('../../fonts/FONTSPRINGDEMO-RivalSansBlackRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/FONTSPRINGDEMO-RivalSansBlackRegular.woff2') format('woff2'),
  url('../../fonts/FONTSPRINGDEMO-RivalSansBlackRegular.woff') format('woff'),
  url('../../fonts/FONTSPRINGDEMO-RivalSansBlackRegular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rival-Sans';
  src: url('./resources/fonts/FONTSPRINGDEMO-RivalSansExtraBoldRegular.eot');
  src: local('FONTSPRING DEMO - Rival Sans ExtraBold Regular'), local('FONTSPRINGDEMO-RivalSansExtraBoldRegular'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansExtraBoldRegular.eot?#iefix') format('embedded-opentype'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansExtraBoldRegular.woff2') format('woff2'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansExtraBoldRegular.woff') format('woff'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansExtraBoldRegular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rival-Sans';
  src: url('./resources/fonts/FONTSPRINGDEMO-RivalSansBold.eot');
  src: local('FONTSPRING DEMO - Rival Sans Bold'), local('FONTSPRINGDEMO-RivalSansBold'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansBold.eot?#iefix') format('embedded-opentype'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansBold.woff2') format('woff2'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansBold.woff') format('woff'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rival-Sans';
  src: url('./resources/fonts/FONTSPRINGDEMO-RivalSansLightRegular.eot');
  src: local('FONTSPRING DEMO - Rival Sans Light Regular'), local('FONTSPRINGDEMO-RivalSansLightRegular'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansLightRegular.eot?#iefix') format('embedded-opentype'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansLightRegular.woff2') format('woff2'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansLightRegular.woff') format('woff'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansLightRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rival-Sans';
  src: url('./resources/fonts/FONTSPRINGDEMO-RivalSansRegular.eot');
  src: local('FONTSPRING DEMO - Rival Sans Regular'), local('FONTSPRINGDEMO-RivalSansRegular'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansRegular.eot?#iefix') format('embedded-opentype'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansRegular.woff2') format('woff2'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansRegular.woff') format('woff'),
  url('./resources/fonts/FONTSPRINGDEMO-RivalSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}