:root{
  --scroll-bar-color:#4338CA;
  --body-fallback-bg-color: #5859d8;
  --button-bg-color: #4338CA;
  --deafult-font-family: 'Roboto', sans-serif;
  --header-font-family: 'Rival-Sans', sans-serif;
  --arrow-btn-bg-color: #6EE7B7;
  --pdf-card-adjust-px:110px;
}